# Ignore __pycache__ directories
**/__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore IDE-specific files (e.g., VSCode)
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Add any other files or directories you want to ignore
